!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Mixtape:Exchange, #{@user.name}
    %p
      You have successfully signed up to Mixtape:Exchange,
      %br/
    %p Thanks for registering!