!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Mixtape:Exchange, #{@user.name}
    %p
      You have successfully signed up to Mixtape:Exchange,
      your username is: #{@user.login}.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining!