%h1 Mixtapes

%h3= link_to 'New Post', new_post_path 

- @posts.each do |post|
  %div.small-6.large-4.columns.container
    %td= link_to post.title, post
    %br
    %td= image_tag post.post_img
    %br
    %td= link_to post.user.name, user_url(post.user_id)