// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Raleway Thin';
    src: url(font-path('Raleway Thin.otf'));
}
@font-face {
    font-family: 'Raleway Light';
    src: url(font-path('Raleway Light.otf'));
}
body {
	font-family: 'Raleway Thin';
	background-color: #1e2325;
	background: transparent url(pattern.png) repeat top left; 
	background-color: #333738;
}
h1 {
	font-family: 'Raleway Thin';
	color: white;
	text-align: center;
}
h2 {
	font-family: 'Raleway Thin';
	color: white;
	text-align: center;
}
h3 {
	font-family: 'Raleway Thin';
	color: white;
	text-align: center;	
}
.view {
	font-family: 'Raleway Thin';
	color: white;
	text-align: left;
}
p {
	font-family: 'Raleway Thin';
	color: white;
	text-align: left;
}

.center {
	text-align: center;
}
.container {
	margin-bottom: 1em;
	max-width: 500px;
}
.title {
	font-size: 1.1em;
	margin-left: 10px;
	margin-top: 5px;
	text-align: left;
}
.author {
	font-size: 1em;
	margin-top: 5px;
	margin-left: 10px;
	text-align: left;
}
.count {
	font-size: 1.2em;
	position: absolute;
	top: 20px;
	right: 40px;
}
.upvote {
	position: absolute;
	top: 13px;
	right: 8px;
}
.inside-container {
	position: relative;
	margin-top: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.3)
}
form input[type="file"]{
	text-align: center;
}