// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url('debut_light.png');	
}
h1 {
	text-align: center;
}
h3 {
	text-align: center;
}
p {
	text-align: center;
}
.container {
	margin-bottom: 1em;
	max-width: 500px;
	font-family: verdana;
}
.title {
	font-size: 16px;
	margin-left: 10px;
	text-align: left;
}
.author {
	font-size: 12px;
	margin-top: 2px;
	margin-left: 10px;
	text-align: left;
}
.count {
	position: absolute;
	top: 15px;
	right: 40px;
}
.upvote {
	position: absolute;
	top: 8px;
	right: 8px;
}
.inside-container {
	position: relative;
	margin-top: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #DDDEE0;
}
.image {

}