@font-face {
    font-family: 'Raleway Thin';
    src: url(font-path('Raleway Thin.otf'));
}

h1 {
	font-family: 'Raleway Thin';
	text-align: center;
	color: white;
}

h2 {
	font-family: 'Raleway Thin';
	color: white;
}

body {
	font-family: 'Raleway Thin';
	background-color: #1e2325;
	text-align: center;
}

p {
	color: white;
}

