@font-face {
  font-family: 'Raleway Thin';
  src: url(font-path('Raleway Thin.otf'));
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(font-path('Raleway-Light.otf'));
}


@font-face {
  font-family: 'Bitter';
  src: url(font-path('Bitter-Bold.otf'));
}

@font-face {
  font-family: 'GearedSlab';
  src: url(font-path('GearedSlab-Bold.otf'));
}

@font-face {
  font-family: 'Bigmouth';
  src: url(font-path('Bigmouth.otf'));
}

/*Styling the UL, it will be fixed positioned and stretch over the viewport.*/
/*Using an :after pseudo element to place a pattern on top of the image.*/
/*The z-index property in CSS controls the vertical stacking order of elements that overlap. 
*/

.slider,
.slider:after { 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0; 
}
.slider:after { 
	content: '';
	background: transparent url(pattern.png) repeat top left; 
}

/*The span that will contain a slideshow image is positioned absolutely*/
/*The background size property "cover" will make the images cover the entire page.*/
/*The animation for each span will last 36 seconds and run an inifinite number of times.*/

.slider li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
-webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s; 
}
.slider li div { 
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s; 
}

/*The title div animation will also take a total of 36 seconds to cycle trhough*/

.slider li div h3 { 
  font-family: 'GearedSlab-Bold', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  color: white;
  padding: 0;
  line-height: 80px; 
}

/*Defines the background images for all spans & animation delay.*/
/*Each following slideshow image and title appear 6 seconds after the previous image.*/

.slider li:nth-child(1) span { 
  background-image: url(1.jpg) 
}
.slider li:nth-child(2) span { 
  background-image: url(tapesbw1.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
}
.slider li:nth-child(3) span { 
  background-image: url(jon.JPG);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}
.slider li:nth-child(4) span { 
  background-image: url(carpetbw.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}
.slider li:nth-child(5) span { 
  background-image: url(../images/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}
.slider li:nth-child(6) span { 
  background-image: url(../images/6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; 
}
.slider li:nth-child(2) div { 
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
}
.slider li:nth-child(3) div { 
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}
.slider li:nth-child(4) div { 
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}
.slider li:nth-child(5) div { 
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}
.slider li:nth-child(6) div { 
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; 
}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation { 
  0% { opacity: 0;
  -webkit-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -webkit-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
  0% { opacity: 0;
  -moz-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -moz-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
  0% { opacity: 0;
  -o-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -o-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
  0% { opacity: 0;
  -ms-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -ms-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes imageAnimation { 
  0% { opacity: 0;
  animation-timing-function: ease-in; }
  8% { opacity: 1;
       animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

/*Makes the font sizes responsive to the page.*/


@media screen and (max-width: 1140px) { 
  .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 590px) { 
  .cb-slideshow li div h3 { font-size: 80px }
}

h1 {
font-family: 'Raleway Thin';
color: white;
}

h2 {
	font-family: 'Raleway Thin';
	color: #b53656;
}

h4 {
	font-family: 'Raleway Thin';
	color: white;

}

body {
	font-family: 'Raleway Thin';
	background: transparent url(pattern.png) repeat top left; 
	background-color: #333738;
	text-align: center;
}

p {
	color: white;
}

.row-container {
	margin-top: 70px;
}



